@define-color bg    #1b1a27; 
@define-color fg    #bec3ef; 
@define-color blk   #31344f; 
@define-color red   #e37ca8; 
@define-color grn   #4ec68c; 
@define-color ylw   #f8e4bf; 
@define-color blu   #6ba4f6; 
@define-color mag   #ad7ef7; 
@define-color cyn   #5eb2e7; 
@define-color brblk #31344f; 
@define-color white #bec3ef; 

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 2px; /*0 2px, 0 6px */
    color: @blu;
    background: transparent;
    border-bottom: 2px solid @bg;
}
#workspaces button.focused { /*active, focused*/
    color: @blu;
    border-bottom: 2px solid @blu;
}
#workspaces button.empty {
    color: @white;
}
#workspaces button.empty.focused { /*active, focused */
    color: @blu;
    border-bottom: 2px solid @blu;
}

#workspaces button.urgent {
    background-color: @red;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#custom-sep,
/* #custom-space, */
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#custom-power,
#tray {
    padding: 0 8px;
    color: @white;
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
}

#memory {
    color: @mag;
}

#pulseaudio {
    color: @blu;
}

#custom-power {
    color: #e37ca8;
}

#cpu {
    color: @grn;
}

#tray {
    background-color: #2980b9;
}

